
%br
%br
.footer
  #accordionFoot.panel-group
    .panel.panel-default
      .panel-heading
        %h5.panel-title
          %a{:class=>"accordion-toggle", "data-toggle"=>"collapse", "data-parent"=>"#accordianFoot", "data-target"=>"#collapseFoot"}
            Show Version and Copyright
      #collapseFoot.panel-collapse.collapse
        .panel-body
          = "Version: 1.2 " 
          %img(src="/attachments/seaentlogo.png" width=50 height=50 alt='estorm logo')
          %a(href='http://www.sea-ent.com')
            %h6 Copyright Sea Entertainment Limited 2014
          %p
            %small BVI Company registration: 1811240

%script(type="text/javascript" async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
%script(type="text/javascript" async src="/bootstrap/dist/toolkit.js")
%script(type="text/javascript" async src="/javascripts/application.js")
/ %script(type="text/javascript" src="http://yandex.st/highlightjs/7.3/highlight.min.js")
/  :javascript
/    hljs.initHighlightingOnLoad();