%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{:type => "button", "data-toggle" => "collapse", "data-target" => "#navbar-ex-collapse", "aria-expanded"=>"false"}
        %span.sr-only Toggle Navigation
        - 1.upto(3) do |i|
          %span.icon-bar
      %a(class="navbar-brand" href="/")
        .span
          %img( src="/attachments/seaentlogo.png" width=23 height=23 alt='estorm logo')
          %h5
            %strong
              = @heading
    .navbar-collapse.collapse(id="navbar-ex-collapse")    
      - display_menu(@menu_items, :class => "nav nav-bordered h4", :levels => 1)


