%h4 Learn More
:markdown
  * Lotteris [4D, 6D, 636 etc](/platforms/lottery)
  * Free POS trial [Coming Soon](http://estorm-pos.herokuapp.com)
  * Real [lottery time dashboards](http://tl-sms-dashboard-public.herokuapp.com/lotto)