%p Gaming license acquisition in emerging markets.

%p Experienced emerging markets distribution channel creation and management.

%p The team launched a scratch card business in Timor Leste and sold 1 million cards in the first month.  

%p Significant lottery system experience and scratch card systems (lottery software, sms software, ticket management software)

%p Algorithms to develop scratch cards from low cost printers including the capability to generate our own data.

%p Significant capability to develop and execute gaming businesses across south east asia.