%p Gaming license acquisition in emerging markets.

%p Significant experience with regulated industries in Emerging Markets. Experienced emerging markets distribution channel creation and management.

%p Duty Free license in Timor Leste for border areas, airport and city duty free.  

%p Significant lottery system experience and scratch card systems (lottery software, sms software, ticket management software)

%p Algorithms to develop scratch cards from low cost printers including the capability to generate our own data.

%p Significant capability to develop and execute distribution businesses across south east asia.