%h3 SEA Entertainment deployments
%ul
  %li
    %blockquote
      “SEA Entertainment has a mobile lottery in Timor Leste in partnership with Telkomcel and Estormtech.”
      %cite
        Adrian S,
        %a(href="http://www.lucky-sms.net") Lucky SMS
  %li
    %blockquote
      “SEA Entertainment solution allows to offer computer based scratch cards as a supplement to our existing scratch card license..”
      %cite
        Steve C,
        %a(href="http://bwdi.com") Blue Water Development
  %li
    %blockquote
      “SEA Entertainment solution allows to offer computer based scratch cards as a supplement to our existing scratch card license..”
      %cite
        Steve C,
        %a(href="http://bwdi.com") Blue Water Development
