Categories: cafes
Template: home
Summary: Gaming Cafe systems

.container
  .row
    .col-md-9
      %h1 Gaming Cafes
      :markdown
        We can and have run cafes with electronic gaming terminals.  Our experience includes running 280 cafes in the Philippines with the largest publically listed gaming provider.

    .col-md-3
      = haml :platform_menu, :layout => false
      = haml :project_menu, :layout => false
      
  .row
    .col-offset-9.col-md-3
      = haml :learn_more, :layout => false