Categories: scratch
Template: home
Summary: Scratch Card Data and Mathematics

.container
  .row
    .col-md-9
      %h1 Scratch Card Data and Mathematics
      :markdown
        We have extensive experience running scratch card and trading card promotions.  These include product launches in Cambodia and Laos.  Our software system can accommodate the generation of scratch card data and integration with various secured printers from China and Indonesia at low price points  (2 cents or less per card).  This allows you to create promotions such giving away product and money with various purchases.

        Our system uses high quality random number generators to ensure fair treatment for the end consumer.

        We also have experience in create purely digital products in a similar manner (eg the consumer purchases a digital product and receives a promotion for this type of solution)

        As this is a specialised solution and generally requires a government license to run please contact us directly for further information.  We can also provide consulting in this area to help ensure that the solution is legal.

        We have a trial system available for perusal at [TMS](http://test.tms.sg.estormtech.com).  [Contact](/contact) us for login details. 

    .col-md-3
      = haml :product_menu, :layout => false

  .row
    .col-offset-9.col-md-3
      = haml :learn_more, :layout => false