Categories: sms
Template: home
Summary: SMS/Telco Services

.container
  .row
    .col-md-9
      %h1 SMS/Telco Applications
      :markdown
        We have deployed solutions for SMS with Telkomcel  and Indosat. With Telkomcel we have commercial arrangements in two countries (Timor Leste and Indonesia). In Indonesia we ahve an agreement with the sports federation to raise money via SMS and Telco Services for the ASEAN Games 2018


    .col-md-3
      = haml :platform_menu, :layout => false
      = haml :project_menu, :layout => false
      

  .row
    .col-offset-9.col-md-3
      = haml :learn_more, :layout => false