Categories: terminals
Template: home
Summary: Terminal Manufactuing

.container
  .row
    .col-md-9
      %h1 Terminal Equipment
      :markdown
        We design. and manufacture our terminals through a related subsidiary called Elephant Terminals.  These terminals are fully integrated and tested with our partner's casino management system.  The terminals are integrated with various bill acceptors and TITO printers.

        We have various business models for the terminals including outright sale and/or a service provider arrangement where we fund the terminals and operate the business for the license holder.


    .col-md-3
      = haml :product_menu, :layout => false

  .row
    .col-offset-9.col-md-3
      = haml :learn_more, :layout => false

