Categories: products
Template: home
Summary: Client list



.container-fluid
  .row
    .col-md-offset-1.col-sm-9
      %h1 Clients and Partners
      .col-sm-4
        %ul.featured-list.featured-list-bordered
          %li.m-b-md
            .featured-list-icon
              %span.icon.icon-price-tag
            %h3 Midpac
            %p
              Mid Pacific Distributors Inc is our distribution and wholesale business partner.
              %a(href="http://wwww.midpacguam.com")
                More details
          %li.m-b-md
            .featured-list-icon
              %span.icon.icon-shop
            %h3 SP Consulting
            %p
              SP Consulting provides market support in Cambodia.
      .col-sm-4
        %ul.featured-list.featured-list-bordered
          %li.m-b-md
            .featured-list-icon
              %span.icon.icon-old-mobile
            %h3 Telkomcel
            %p
              Telkomcel is our partner in both Timor Leste and Indonesia where we have content partner contracts.
              %a(href="http://wwww.telkomcel.co.id")
                More details
          %li.m-b-md
            .featured-list-icon
              %span.icon.icon-users
            %h3 Koni
            %p
              Koni is the Indonesia sports athletics organization who is a partner in Indoniesia.
              %a(href="http://wwww.koni.co.id")
                More details
    .col-md-3
      = haml :product_menu, :layout => false
      = haml :learn_more, :layout => false
/  .row-fluid
/    .offset9.span3
      

