Title: SEA Entertainment Limited
Template: home
Layout: toppage
Link text: Home

.container
  .col-md-3
    %a(class="brand" href="/summary")
      %img( src="/attachments/estormcrm.jpg" width=23 height=23 alt='estorm logo')
      = @heading

.block.text-center
  %h1.block-title
    Sea Entertainment Limited
  .callout
    .callout-content
      %section.lucky1
        = haml :marketing_tags, :layout => false
    .callout-secondary
      %a(href="/summary" class="btn btn-info btn-large") 
        More details
  
/%section.jumbotron
/  %section.lucky1
/    = haml :marketing_tags, :layout => false

.container
  .row
    .col-md-7
      %section.lucky2
        = haml :sea_users, :layout => false
  

  

