Title: Estorm Technology Pte. Ltd
Template: home
Layout: toppage
Link text: Home

.container-fluid
  .span3
    %a(class="brand" href="/summary")
      %img( src="/attachments/estormcrm.jpg" width=35 height=16 alt='estorm logo')
      = @heading

%section.jumbotron
  %section.hero-unit
    %section.lucky1
      :markdown
        Increase sales and never lose track of customer leads. With EstormTech's process oriented approach to customer management tracking leads and sales activities have never been easier.

        Scratch card data generation and management of scratch cards at the distributor and point of sale level.

        No hidden costs using our affordable monthly subscriptions.  (Our charges are likely less than the cost of your mobile phone bill)

        Distributor and inventory management (managing products at the distributor level)

        Save time and money with a single unified view of customer activities, inventory management including management of time based services.

.container-fluid
  .row-fluid
    %ul.thumbnails
      %li.span6
        .thumbnail
          %a(href="/summary" class="pull-left" ) 
            %img{:src=>"attachments/logoestorm.jpg", :width => "120", :height=>"120", :alt=>"Summary", :class=>"img-polaroid" }
          %a(href="/summary" ) 
            %h2 Summary
          %p Estorm overview.
      %li.span6
        .thumbnail
          %a(href="/products" class="pull-left" ) 
            %img{:src=>"attachments/logoestorm.jpg", :width => "120", :height=>"120", :alt=>"Summary", :class=>"img-polaroid" }
          %a(href="/products" ) 
            %h2 Products
          %p Products include hosted CRM, distribution management system, scratch card data generation software and scratch card mathematical analysis.
  .row-fluid
    .span6
      .media
      %a(href="/support" class="pull-left" ) 
        %img{:src=>"attachments/logoestorm.jpg", :width => "120", :height=>"120", :alt=>"Summary", :class=>"media-object" }
      .media-body
        %a(href="/support" ) 
          %h2.media-heading Support
          %p We provide extensive support for our customers including an online ticketing system and telephone support.
    .span6
      .media
      %a(href="/contact" class="pull-left" ) 
        %img{:src=>"attachments/map.jpg", :width => "120", :height=>"120", :alt=>"Summary", :class=>"media-object" }
      .media-body
        %a(href="/contact" ) 
          %h2.media-heading Contact us
          %p We will promptly get back to you.
  .row-fluid
    .span9
      %section.lucky2
        %h2 Who uses Estorm?
        %ul
          %li
            %blockquote
              “Estorm’s underlying technology is as robust and versatile as any solution in this space. The difference has been the support and ‘can do’ attitude which has enabled SmartRoam to have a single source of truth of our customers, from acquisition through to retention and support.”
              %cite
                Charles Tidswell,
                %a(href="http://chattimeapp.com") Chattime.com
          %li
            %blockquote
              “Estorm's solution allows us to offer on demand crm to our customers and billing integration with our prepaid platform and our customer's mobile phones.”
              %cite
                Frederic,
                %a(href="http://indosat.com") Indosat.com

