Categories: projects
Template: home
Summary: Projects

.container
  .row
    .col-md-8
      %h1 Projects
      %p
        Ongoing projects include the following: 
      .col-xs-4
        %h3
          %a(href="http://www.seadutyfree.com")
            Sea Duty Free
        %h4
          %a(href="projects/batugade")
            Batugade
        %p 
          Timor Leste has the only land border crossing in Indoneisa where we have a duty free license and a hotel license   
          %a(href="projects/batugade")
            (see images).
          Our store in Batugade will open 2015  
        %h4  Airport
        %p 
          We plan to launch the Dili Airport duty free before Q1 2016.
        %h4  Salele/Oecussi
        %p 
          Salele will likely open Dec 2015.  Oecussi will launch Q1 2016.  This would represent all of the land border crossings with Indonesia and would be a significant achievement.
      .col-xs-4
        %h3
          Food Production
        %p 
          Our plans include the production of local products including timor coffee and timor hot sauce.  
        %img.img-responsive(data-action="zoom"  src="/attachments/hotsauce.png" alt='estorm logo')
      .col-xs-4
        %h3
          Tobacco Production and Manufacturing
        %p 
          We plan to use local tobacco to manufacture cigarettes for a population base of 1.3 milion of which more than 60% smoke.  We would use the profits from cigarette manufactuing to support other local product development.  Our models show that local production would result in a 50% cost improvement over imported products offering a significant cost advantage.
        %img.img-responsive(data-action="zoom"  src="/attachments/libro.jpg" alt='estorm logo')
      .col-xs-4
        %h3 Laos
        %p
          In discussion for techology deployments based on our proprietary terminal.
      .col-xs-4
        %h3 Indonesia
        %p
          We have an agreement to help support the ASEAN games in 2018 by running sms and sratch card funding projects.  We are operating this in partnership with XL, 7-11 stores, Telkcomcel and Indosat. This is primarily a
          %a(href="http://www.koni-donasi.com")
            corporate social responsibility
          project which builds relationships for future business in Indonesia.
    .col-md-4
      = haml :project_menu, :layout => false
      = haml :learn_more, :layout => false

