Categories: projects
Template: home
Summary: Projects

.container
  .row
    .col-md-8
      %h1 Projects
      :markdown
        Ongoing projects include the following 

        #### Batugade
        The only land border crossing in Indoneisa where we have a duty free license and a hotel license.  
        #### Airport
        We plan to launch the Dili Airpot duty free shortly.
        #### Laos
        In discussion for techology deployments around 
        #### Indonesia
        We have a preliminary agreement to help support the ASEAN games in 2018 by running sms and sratch card funding projects.
    .col-md-4
      = haml :project_menu, :layout => false
      = haml :learn_more, :layout => false

