Title: SEA Entertainment Limited
Template: home
Link text: Summary

.container
  .row
    %h1 
      Platforms Summary
  .row
    .panel.panel-bold.panel-info
      .panel-body.p-b-lg
        %h2
          %section.lucky1
            = haml :marketing_tags, :layout => false
  .callout
    .callout-content
      %h2 Timor Investment Opportunity
      %h3 The attached file summarizes our projects in Timor Leste for which we are looking for financial partners.
    .callout-secondary
      %a(href="/attachments/Timor-Investment-v7-short.pdf" class="btn btn-info btn-large") 
        Download pdf file
  .row
    .col-xs-3
      %h2 Scratch Cards
      :markdown
        * Paper and computer based scratch card solutions
        * Mathematics to develop scratch cards 
        * Support and Training
        * Distribution Management
        * Reporting 
    .col-xs-3
      %h2 Duty Free
      :markdown
        * Duty Free license in Timor Leste
        * Management of 4 border crossings and airport/city duty free
        * Import and distribution management of various products
        * Distribution management of local Timorese products
    .col-xs-3
      %h2 Wholesale Distribution
      :markdown
        * Regional distribution of alcohol, tobacco, sundries
        * Utilizing our existing electronic product distribution system
        * Import and sale of products to wholesalers at fair prices.
        * Support and development of a proper wholesale and retail distribution network in Timor.
    .col-xs-3
      %h2 Gaming Cafes
      :markdown
        * Small gaming cafes 10 -100 terminals	
        * Available as full standalone or service provider package
        * Unique terminals with ticket in/out and cash out solutions
        * Complete reporting system and auditing for regulators
  .row
    .col-xs-3
      %h2 Local product development
      :markdown
        * Developmnet of hot sauce sales
        * Processing of coffee into capsules
    .col-xs-3
      %h2 Lotteries
      :markdown
        * Solutions for tickets and mobile lotteries
        * Distribution Management
        * Our own terminals and hardware developments
        * Diverse payout strategies and mathematical solution
  .row
    .col-xs-6
      %h2 Electronic Payment Solutions
      :markdown
        + Emerging market payment solution
        + Dedicated proprietary terminals
        + Distribution development of payment solutions
        + Wallet system with support for electronic and physcal products
    .col-xs-6
      %h2 Our Strengths
      :markdown
        + Emerging market regulated license acquisitions 
        + [Partner](clients) development
        + Distribution Management
        + [Turnkey](platforms) solution
        + [Scratch Card](/platforms/scratch) and Lottery data generation
        + [Cafes](/platforms/cafes) for both gaming and computer based scratch
  .row
    .col-md-9
      %section.lucky2
        = haml :sea_users, :layout => false


