Title: SEA Entertainment Limited
Template: home
Link text: Summary

.container
  .row
    %h1 
      Platforms Summary
  .row
    .panel.panel-bold.panel-info
      .panel-body.p-b-lg
        %h2
          %section.lucky1
            = haml :marketing_tags, :layout => false
  .callout
    .callout-content
      %h2 Timor Investment Opportunity
      %h3 The attached file summarizes our projects in Timor Leste for which we are looking for financial partners.
    .callout-secondary
      %a(href="/attachments/Timor-Investment-v7-short.pdf" class="btn btn-info btn-large") 
        Download pdf file
  .row
    = haml :keyprojects, :layout => false
  .row
    .col-xs-6
      %h2 Electronic Payment Solutions
      :markdown
        + Emerging market payment solution
        + Dedicated proprietary terminals
        + Distribution development of payment solutions
        + Wallet system with support for electronic and physcal products
    .col-xs-6
      %h2 Our Strengths
      :markdown
        + Emerging market regulated license acquisitions 
        + [Partner](clients) development
        + Distribution Management
        + [Turnkey](platforms) solution
        + [Scratch Card](/platforms/scratch) and Lottery data generation
        + [Cafes](/platforms/cafes) for both gaming and computer based scratch
  .row
    .col-md-9
      %section.lucky2
        = haml :sea_users, :layout => false


