Categories: support
Template: home
Summary: Support information

.container
  .row
    .col-md-9
      %h1 Support
      :markdown
        We provide a standard 8*5 work day support plan.  Other support plans can be customized to support your business requirements.  We value all of our customers concerns and use this feedback to improve our service. Email us at support@estormtech.com which will automatically create a trouble ticket for on our system. Alternatively contact your account manager or fill out the form below to create a trouble report.

        In addition we are working to create a help system with screencasts to help you solve common business requirements while using our system. 

        Registered customers can open trouble tickets at the following link: [SUPPORT HERE](http://crm.estormtech.com/customerportal/login.php)
    .col-md-3
      = haml :learn_more, :layout => false
