%section.getting-started
  %heading
    %h1 Diverse Products
  :markdown
    + Hosted CRM
    + Distributor tracking
    + Ticket management
    + Scratch card data generation
  :textile
    |_. Tables        |_. Are           |_. Cool  |
    |>.col  is      |>. right | $1600 |
    |<. col  is      | center |<. left |